@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-gradient-1: rgba(255, 194, 130, 0.35);
  --bg-gradient-2: rgba(111, 127, 243, 0.25);
  --bg-gradient-3: rgba(0, 0, 0, 0.12);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --spacing-128: 32rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #393535;
    --foreground: #ededed;
    --bg-gradient-1: rgba(255, 138, 92, 0.4);
    --bg-gradient-2: rgba(124, 207, 255, 0.25);
    --bg-gradient-3: rgba(0, 0, 0, 0.55);
  }
}

body {
  background-color: #1c1b1b;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .h-128 {
    height: 32rem;
  }
}
